MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/wereach
NEXT_PUBLIC_MAP_STYLE_URL=https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json
NEXT_PUBLIC_MAPTILER_API_KEY=your_maptiler_api_key_here
MAPTILER_API_KEY=your_maptiler_api_key_here
